/* FONTS */
.noto{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* NAV_BAR */
nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.l-to-hide a, .cart a{
    text-decoration: none;
    color: #8987A1;
}

#bold{
    font-weight: 700;
    color: black;
 }
 #cartb{
    color: black;
 }



 /* BANNER */
 .banner{
    max-width: 1140px;
    /* max-height: 461px; */
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
    
 }

 .about-ban{
    align-content: end;
}

.about-ban h1{
    font-size: 4rem;
}

.orange-b-t{
    color: #E95A08;
}

.ban-tit{
    margin-bottom: 10px;
}

.ban-des{
    color: #00000083;
    font-size: 1.3rem;
    margin-bottom: 0px;
}



/* OUR PLANTS */
.our-plants{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}
.our-p-tit{
    font-size: 3.1rem;
    margin-bottom: 10px;

}
#our-orng{
    color: #E95A08;
}
.our-p-des{
    color: #00000083;
    font-size: 1.3rem;
    margin-bottom: 50px;
}


/* card-section */
.card-section{
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.plants-card{
    text-align: center;
    

}

.card-tit{
    font-size: 1.4rem;
    font-weight: 550;
    margin-bottom: 2px;

}

.price{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 800;


}

.card-btn{
    padding: 19px 80px;
    border: none;
    background-color: #E95A08;
    color: white;
    font-size: 1rem;
    margin-bottom: 120px;


}

/* lover */

#badge{
    position: absolute;
    margin-left: 360px;
    margin-top: -100px;
    
}
.love{
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.lover-des{
    font-size: 3.1rem;
}
 .lover-list{
    font-size: 1.4rem;
    color: #00000083;
 }

 /* deals */
.deals{
    max-width: 1140px;
    margin: 120px auto;
    text-align: center;
    
}

.deal-tit{
    font-size: 3.1rem;
    margin-bottom: 10px;
}

.deal-des{
    margin-top: 5px;
    font-size: 1.5rem;
    color: #00000083;
}

.zabo{
    max-width: 1140px;
    
    gap: 28px;
    margin: 0 auto;
    display: flex;
    
}

.zabo img{
    filter: brightness(50%);
    border-radius: 30px;
}

.zabo a{
    color: white;
}



.two{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.two .pic-text1{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    color: white;
    text-align: center;
    
}

.pic-text2{
    
    position: absolute;
    top: 300px;
    left: 90px;
    right: 100px;
    color: white;
    text-align: center;
}

.one{
    position: relative;
}
.one .pic-text3{
    position: absolute;
    left: 100px;
    right: 100px;
    top: 200px;
    font-size: 2rem;

    color: white;
    text-align: center;
}

.seond-banner{
    
    max-width: 1440px;
    margin: 120px auto;
    position: relative;
}

.text-field{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -65%);
    text-align: center;
}
.text-field h2{
    font-size: 3.1rem;
    color: white;
}

.eml{
    padding: 15px 540px 15px 20px;
}

.subscribe{
    padding: 15px 53px;
    margin-left: -5px;
    border: none;
    background-color: #E95A08;
    color: white;
}
#label{
    display: flex;
}

footer{
    max-width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.list-1 li, .list-2 li{
    list-style: none;
}
.list-1 a, .list-2 a{
    text-decoration: none;
    color: #00000083;
    flex-direction: column;
    
}

.list-1 ul, .list-2 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
    
.socials-icon img{
    margin-right: 30px;   
}



.shop-end p{
    color: #00000083;
}

 /* media Query */
 @media screen and (max-width: 576px) {
    .l-to-hide{
        display: none ;
    }
    .brand-logo img{
    width: 63px;
    height: 38px;
    }
    nav{
        margin: 20px;
    }

    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .ban-img img{
        width: 100%;
    }
    .ban-des{
        font-size: 0.9rem;
    }
    
    
    .about-ban h1{
        font-size: 2rem;
    }

    .our-p-tit{
        font-size: 2rem;
    }
    .our-p-des{
        font-size: 0.9rem;
    }

    .card-section{
        grid-template-columns: repeat(2, 1fr);
        
        }

   .plants-card{
    width: 100%;
   }

   .card-btn {
    padding: 19px 30px;  
    font-size: 1rem;
   }

   .card-img {
    max-width: 100%;
   }

   .love{
    flex-direction: column;
    gap: 0px;
   }

   #badge{
    display: none;
   }
   
   .lover-des{
    font-size: 1.7rem;
    
   }

   .lover-img{
    width: 100%;
    
   }

   .lover-list{
    font-size: 0.9rem;
   }

   .zabo{
    flex-direction: column;
    
   }

  

   
   .one img{
    width: 100%;
   }

   .two img{
    width: 100%;
   }

  

   .pic-text3 a{
    font-size: 1rem;
    
   }

   .one .pic-text3{
    position: absolute;
    left: 10px;
    right: 10px;
    top: 100px;
    font-size: 1rem;
}

.seond-banner img{
    width: 100%; 

}

.pic-text2{
    top: 350px;
}

.eml{
    padding: 7px 40px 7px 20px;
}

.subscribe{
    padding: 7px 12px;
}

.text-field h2{
    font-size: 1.2rem;
    

}

footer{
    flex-direction: column;
    justify-content: flex-start;
}



.list-1 ul, .list-2 ul{
    margin-left: -40px;
}


 }